body {
  background-image: url(./antigoArquivo/img/wallpaperbetter.jpg);
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.card {
  background-color: #3d3f43db;
  padding: 200px;
  padding-top: 1px;
  padding-bottom: 100px;
  border-radius: 10px;
  width: auto;
  height: auto;
}

.crip {
  margin-right: 10px;
  height: 40px;
}

h2 {
  color: rgb(255, 255, 255);
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  padding-right: 120px;
}

h3 {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-family: 'Rubik Iso', cursive;
}

h4 {
  color: rgb(255, 255, 255);
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: 'Rubik Iso', cursive;
}

.textinho {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-right: 100px;
}

#textinho {
  color: rgb(255, 255, 255);
  font-size: 17px;
  padding-bottom: 20px;
}

#Result {
  color: white;
  display: flex;
  align-items: auto;
  justify-content: auto;
  padding: 25px 0;
  font-weight: bold;
  font-size: 20px;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  margin-right: 10px;
}

.btn-flip:last-child {
  margin-right: 0;
}

.btn-flip:hover {
  &:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }

  &:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
  }
}

.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #323237;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #adadaf;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #3939fd00;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

button {
  display: inline-block;
  padding: 1px 10px;
  background-color: #4B4B4B;
  margin-right: 0px;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#Res {
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  margin: 0px 0px 0px 0px;
}

.input-container {
  display: flex;
  align-items: center;
}

form {
  overflow: hidden;
  position: relative;
  width: 200px;
  margin-right: 10px;
  
}

input {
  color: #fff;
  font-size: 28px;
  width: 200px;
  height: 10px;
  padding: 20px 5px 5px;
  background-color: #4f4f4f;
  border: none;
  border-radius: 4px;
  
}

input::placeholder {
  font-size: 16px;
  transform: translateY(-60%);
}

label {
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 210px;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #ffffff;
}

span {
  position: absolute;
  bottom: 5px;
  right: 90px;
  transform: translateX(-5%);
  transform: translateY(-20%);
  font-size: 18px;
  transition: all 0.3s ease;
  
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  
}

.btn-flip:last-child {
  margin-right: 0;
}
